<nz-layout class="login-layout">
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <div>
          <img src="assets/images/img-01.png" alt="" />
        </div>
        <div class="login-form">
          <h1>Member Login 1</h1>
          <!-- <nz-alert nzType="success" nzMessage="Success Text"></nz-alert> -->
          <form nz-form [formGroup]="loginForm">
            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập đủ user!">
                <input
                  type="text"
                  nz-input
                  formControlName="userName"
                  placeholder="Username"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Nhập đủ user!">
                <input
                  type="password"
                  nz-input
                  formControlName="passWord"
                  placeholder="Password"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <label nz-checkbox formControlName="remember">
                Remember me
              </label>
            </nz-form-item>
            <button nz-button class="login-form-button" (click)="submitForm()">
              LOG IN
            </button>
          </form>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<!-- check nếu như chưa đăng nhập thì vào home cần chuyển về login ( guard ) xem cho
anh cái interceptor ( thêm token vào header ) để truyền xuống backend -->
