<div class="login">
  <div class="login-left">
    <h1>Abuha Messenger</h1>
    <p>Connect with friends and the world around you on Abuha messenger.</p>
  </div>
  <div class="login-right">
    <form nz-form [formGroup]="formLogin">
      <input
        type="email"
        name="Email"
        formControlName="email"
        class="login-input"
        placeholder="Email"
      />
      <input
        type="password"
        name="Password"
        formControlName="password"
        class="login-input"
        placeholder="Password"
      />
    </form>
    <div class="login-buttons">
      <button (click)="onNavigateToForgot()" class="forgot-password">
        Forgot Password?
      </button>
      <!-- lỗi cors , lỗi bảo mật  -->
      <button (click)="handleLogin()" class="btn btn-create">
        Login Account
      </button>
    </div>
  </div>
</div>
