<div class="forgot-password">
    <h1 class="main-title">Reset Password Form</h1>

    <div class="form-container">
        <h2 class="form-title">Forgot Password</h2>
        <p class="form-description">
            Enter your email address and we'll send you a link to reset your password.
        </p>

        <form>
            <input type="email" name="email" class="input-field" placeholder="Your email address" required>
            <button type="submit" class="reset-button">
                Reset my Password
            </button>
        </form>
    </div>

    <p class="copyright">
        © 2024 Reset Password Form. All rights reserved
    </p>
</div>